#preloader {
    background: url(eye-scan.gif) no-repeat center;
    height: 500px;
    width: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

h1 {
    margin-top: 50px;
    margin-left: 497px;
    margin-right: 500;
    font-size: 50px;
}